@import '../../node_modules/reset-css/sass/reset';
@import 'global';
@import './partials/animations';
@import './partials/typography';

* {
  box-sizing: border-box;
}

::-moz-selection { background: $accent; color: #fff }
::selection { background: $accent; color: #fff }

