@import '../../node_modules/reset-css/sass/reset';
@import 'global';
@import './partials/animations';
@import './partials/typography';
@import './partials/elements';

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

::-moz-selection { background: $accent; color: #fff }
::selection { background: $accent; color: #fff }

.page-section {
  @include row();
  padding: 2em gutter() 3em gutter();

  @include bp($m) {
    padding: 2em gutter() 4em gutter();
  }

  &.tac {text-align: center;}

  &.decorative-bg {
    position: relative;
    perspective: 400px;

    &:before,
    &:after {
      content: '';
      display: none;
      position: absolute;

      @include bp($m) {
        display: block;
      }
    }

    &:before {
      width: 100vw;
      height: 33vw;
      background: linear-gradient(to left, transparent 0%, #f5f5f5 100%);
      left: -50%;
      top: 10%;
      z-index: -1;
      transform: rotateZ(15deg) rotateY(-10deg);
    }
    &:after {
      width: 100vw;
      height: 33vw;
      background: linear-gradient(to right, transparent 0%, #f5f5f5 100%);
      right: -50%;
      top: 20%;
      z-index: -1;
      transform: rotateZ(12deg) rotateY(10deg);
    }
  }

  & + .page-section {
    border-top: 1px solid #f5f5f5;
    padding-top: 2em;

    @include bp($m) {
      padding-top: 4em;
    }
  }

  .wysiwyg-block {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}

.section-title {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 2em;

  &.small-margin {
    margin-bottom: 1em;
  }
}

.accent {
  color: $accent-d;
}
