button {
  border: none;
  background: $accent;
  background: linear-gradient(to bottom, $accent, $accent-d);
  color: #fff;
  font-size: .8rem;
  padding: gutter()/1.5 gutter()*1.5;
  text-transform: uppercase;
  font-family: $display;
  letter-spacing: .1em;
  border-radius: 5px;
  box-shadow: 0 .25em .5em 0 rgba(#000, .1);
  cursor: pointer;
  outline: none;

  &:hover {
    background: linear-gradient(to bottom, $accent, $accent);
  }

  @include bp($m) {
    font-size: 1em;
  }
}

img {
  max-width: 100%;
}

.wysiwyg-block {
  img {
    border: 5px solid #fff;
    box-shadow: 0 2px 1em 0 rgba($dark, .2);
    border-radius: 3px;

    &[src$='.png'],
    &[src$='.svg'],
    &.no-border {
      border: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  h1, h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: .5em;

    &:first-child {
      margin-top: 1em;
    }
  }
}

a {
  color: $accent-d;

  &.no-decoration {
    text-decoration: none;
    color: inherit;
  }
}
