body {
  font-family: $body-font;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
  color: #21284C;
  margin-bottom: .25em;
  line-height: 1.1;

  strong {
    font-weight: bold;
  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
  @include font-smoothing();

  @include bp($m) {
    font-size: 1.15rem;
  }
}

h1 {
  font-size: 1.75rem;

  @include bp($ms) {
    font-size: 2rem;
  }
  @include bp($m) {
    font-size: 2.25rem;
  }
  @include bp($ml) {
    font-size: 2.5rem;
  }
  @include bp($l) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;

  @include bp($ms) {
    font-size: 1.6rem;
  }
  @include bp($m) {
    font-size: 1.75rem;
  }
  @include bp($ml) {
    font-size: 1.9rem;
  }
  @include bp($l) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;

  @include bp($ms) {
    font-size: 1.2rem;
  }
  @include bp($m) {
    font-size: 1.3rem;
  }
  @include bp($ml) {
    font-size: 1.4rem;
  }
  @include bp($l) {
    font-size: 1.5rem;
  }
}

.tac {text-align: center;}
