// File: _variables.scss
// Used to define global variables. Should never contain actual styles.
@import url("https://use.typekit.net/bra5dez.css");
// Colors
// -----------------------------------------------------------------------------
$accent: #EEF0F2;

$button-fill: #FF750F;
$divider-fill: #FF750F;

$dark: #363537;
$light: #fff;

$body-color: $light;
$border-color: $accent;
$text-ui-color: $dark;
$header-color: #21284C;
// Global Sizes
// -----------------------------------------------------------------------------
$gutter: 1em;
$row: 1200px;

// Breakpoints
// -----------------------------------------------------------------------------
$xs:  400px;
$s:   450px;
$ms:  500px;
$m:   680px;
$ml:  760px;
$l:   1000px;
$xl:  1200px;
$xxl: 1350px;

// font families
// -----------------------------------------------------------------------------
$sans: sans-serif;
$serif: serif;
$display: $sans;
