// File: _variables.scss
// Used to define global variables. Should never contain actual styles.

// Colors
// -----------------------------------------------------------------------------
$light: #fff;
$light-d: #EEF0F2;

$accent-d: rgb(223, 103, 18);
$accent: #FF750F;
$accent-l: #DD5D05;

$accent2: #67C1A2;
$accent3: #D44B40;
$accent4: #22A3AE;
$accent5: rgb(218, 181, 19);

$dark-l: #363537;
$dark: #24292E;
$dark-d: #111;
$dark-b: #21284C;

$body-color: $light;
$text-ui-color: $dark;
$navbar-text: #191922;

// Global Sizes
// -----------------------------------------------------------------------------
$gutter: 1em;
$row: 1200px;

// Breakpoints
// -----------------------------------------------------------------------------
$xs:  400px;
$s:   450px;
$ms:  500px;
$m:   680px;
$ml:  860px;
$l:   1000px;
$xl:  1200px;
$xxl: 1350px;

// font families
// -----------------------------------------------------------------------------
$header-font: "jaf-domus", serif;
$body-font: "mr-eaves-xl-modern", sans-serif;
$display: 'Open Sans', sans-serif;
